.j{
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 100px;
    color: white;
}
.d{
    color: white;
    font-size: 2vw;

}
.container2 {
    width: 20vw;
    height: 35vh;
    perspective: 900px;
    
}

.card2 {
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    border-radius: 2rem;
}

.container2:hover > .card2 {
    cursor: pointer;
    transform: rotateY(180deg) rotateZ(180deg);
}

.front, .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    position: absolute;
    box-shadow: 0 0 10px 2px rgb(249, 248, 248);
    backface-visibility: hidden;
    color: aliceblue;
    background: linear-gradient(#0080ffe2 , black );
}
.back ,.back1{
    background-image: url(../assets/kevin-canlas-cFFEeHNZEqw-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.back1{
    background-image: url(../assets/depi.jpg)
}

.front, .back {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.section4{
    padding-top: 2vw;
    position: relative;
}


.back {
    transform: rotateY(180deg) rotateZ(180deg);
}


.back-heading, .front-heading {
    font-size: 1.5vw;
    font-weight: bold;
}


@media(max-width: 675px){
    .j{
            font-size: 50px;
            max-width: 325px;
            padding-top: 0px;
    }
    .d{
        font-size: 15px;
    }

}
