header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures it stays above other content */
    overflow: hidden;
  }


.container-fluid{
    display: flex;
    direction: rtl;
}
.container-fluid a{
    margin-left: 60px;
}
.container-fluid ul li a{
    border: solid 2px transparent;
    border-radius:50px;
    color: #ffffff;
    font-size: 18px;
    position: relative;
}
.container-fluid ul li a:hover{
    color: white;
}

.container-fluid ul li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 6px; /* Adjust the distance from the text */
    width: 0;
    height: 3px;
    background-color: #0080ff;
    transition: width .8s ease-in-out;
}
.container-fluid ul li a:hover::after{
    width: 100%;
}
.container-fluid ul li a:focus::after{
    width: 100%;
}
.container-fluid ul li a:focus{
    color: #ffffff;
}
.poppins{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

#body{
    background: black;
    background-repeat: repeat;
    background-position:top;
    background-attachment: scroll;
    position: relative;
    overflow: hidden;
}

@media(max-width: 875px){
    .container-fluid a{
        margin-right: .2px;
    }
}
#root{
    background: rgba(20, 20, 20, 0.687)
}



